/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --color-text: black;

  /* active input border */
  --primary-linear: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  /* input error */
  --primary-red: hsl(0, 100%, 66%);

  /* Neutrals */

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-violet: hsl(270, 3%, 87%);
  --neutral-dark-violet: hsl(279, 6%, 55%);
  --neutral-very-dark-violet: hsl(278, 68%, 11%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: blue;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--neutral-very-dark-violet);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

input {
  border-color: var(--neutral-light-violet);
  width: 100%;
  border-radius: 6px;
  border-width: 1px;
  color: var(--neutral-very-dark-violet) !important;
}
input:focus {
  border-color: var(--primary-linear);
  outline: none;
}

button {
  background-color: var(--neutral-very-dark-violet) !important;
}
